# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment
.env
.env.local
.env.production.local

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Debug
npm-debug.log*

# Vercel
.vercel
